body, html {
  margin: 130px;
  padding: 3px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box div {
  width: 80px;
  height: 80px;
}
      

.otp-container{
width:800;
padding:20px;
border:2px solid greeen;
border-radius: 10px;
text-align:center;
}
